@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
.container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.container h1 {
    text-align: center;
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #2e2e2e;
    font-size: 45px;
}

.container .color {
    color: #02b8dd;
}

.container .texte {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: -10px;
}

.container .colorblue {
    color: #7e4d81;
}

.container .darkblue {
    color: #1f4481;
}

.example-button-row {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
    color: white;
}

.example-button-row a {
    background-color: #7e4d81;
}

.back-white h3 {
    color: #2e2e2e;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -20px;
}

.half-full-width {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #f8f9f9;
    padding: 20px;
}

.full-width {
    width: 95%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #f8f9f9;
    padding: 20px;
}

.form {
    width: 60%;
    margin-left: 20%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1;
    grid-row: 1/4;
    background: url('/assets/blandine.jpg');
    background-size: cover;
}

.one:hover {
    background-color: white;
    opacity: 0.5;
}

.two {
    grid-column: 2;
    grid-row: 1/4;
    background: url('/assets/Enfant.jpg');
    background-size: cover;
}

.two:hover {
    background-color: white;
    opacity: 0.5;
}

.three {
    grid-row: 1/4;
    grid-column: 3;
    background: url('/assets/Enceinte.jpg');
    background-size: cover;
}

.three:hover {
    background-color: white;
    opacity: 0.5;
}

.four {
    grid-column: 4;
    grid-row: 1/4;
    background: url('/assets/famille.jpg');
    background-size: cover;
}

.four:hover {
    background-color: white;
    opacity: 0.5;
}

.first-wrapper {
    background-color: #f8f9f9;
    margin-top: 100px;
    overflow: hidden;
}

.first-one {
    background: url('/assets/rncp.png')no-repeat;
    background-size: contain;
    padding: 50px;
    width: 25%;
}

.first-two {
    background: url('/assets/sante.png')no-repeat;
    background-size: contain;
    padding: 50px;
    width: 25%;
}

.first-three {
    background: url('/assets/syndicat.png')no-repeat;
    background-size: contain;
    padding: 50px;
    width: 25%;
}

.first-four {
    background: url('/assets/academie.png')no-repeat;
    background-size: contain;
    padding: 50px;
    width: 25%;
}

.second-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.second-one {
    grid-column: 2;
    grid-row: 1;
}

.second-two {
    grid-column: 3;
    grid-row: 1;
}

.second-three {
    grid-row: 1;
    grid-column: 4;
}

.second-four {
    grid-column: 5;
    grid-row: 1;
}

.tarif {
    background-color: #f8f9f9;
}

.underline {
    display: block;
    color: white;
    text-decoration: none;
}

.underline::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #7e4d81;
    transition: width .4s;
    margin-top: -50px;
}

.underline:hover::after {
    width: 94%;
    margin-left: 20px;
}

.my-card-container .matc-card {
    height: 350px;
    width: 350px;
}

.example-card {
    width: 400px;
}

.example-header-image {
    background-size: cover;
}

.wrapper-parcours {
    background-color: white;
    margin-bottom: 100px;
}

.texte2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: -10px;
}

.blandine {
    width: 250px;
    height: 250px;
    background: url('/assets/blandine-circle.png')no-repeat;
    background-size: contain;
}

.containeur {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.container2 {
    display: flex;
    justify-content: space-around;
}

.coherence {
    background-color: #f8f9f9;
}

.atelier {
    background-color: white;
    margin-bottom: 50px;
}

.atelier h3 {
    text-align: center;
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #2e2e2e;
    font-size: 25px;
}

.texte3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
}