<app-header></app-header>
<a id="sophrologie"></a>
<div class="container">
    <h1>La Sophrologie<span class="color">.</span></h1>
    <p class="texte"><span class="colorblue">
      La Sophrologie est une méthode douce qui permet de mettre en harmonie son corps et son esprit afin de retrouver un équilibre personnel, émotionnel et corporel et de vivre cette cohabitation en toute sérénité.
  </span>
  </p>
    <br><br>
    <p class="texte"><span class="darkblue">
      Le mot “Sophrologie est éthymologiquement tiré des mots grecs : “SOS” : Tranquille, serein. “PHREN” : Cerveau, conscience. “LOGOS” : Étude, science, discours.
      </span>
    </p>
      <br><br>
    <p class="texte"><span class="colorblue">
      Elle est une science humaine de la conscience, simple, originale et puissante, qui permet une rencontre avec soi même, dans un cadre rassurant.
      </span>
    </p>
      <br><br>
    <p class="texte"><span class="darkblue"> 
      Par une prise de conscience de vos ressentis physiques et mentaux, elle vous ouvre la porte de la découverte, de la connaissance de vous même.
      </span>
    </p>
      <div class="example-button-row">
        <a md-raised-button routerLink=".">En savoir plus...</a>
      </div> 

<div class="first-wrapper">
    <div class="first-three"></div>
    <div class="first-two"></div>
    <div class="first-one"></div>
    <div class="first-four"></div>
</div> 
  <a id="parcours"></a>
<div class="wrapper-parcours">
        <h1>Mon Parcours<span class="color">.</span></h1>
        <div class="card">
        <app-card></app-card>
        <div class="textify">
      <div id=texte2>
        <p class="texte2"><span class="colorblue">
      Mon premier rendez vous chez une Sophrologue m’a permis de me retrouver telle que j’étais, de me reconnecter à moi même, dans mon corps et mon esprit.
  </span>
  </p>
    <br><br>
    <p class="texte2"><span class="darkblue">
      Je m’étais oubliée, happée par les soucis de la vie quotidienne, les épreuves et par mon rythme de vie intense, où je ne parvenais plus à prendre le temps de « m’écouter ».
      </span>
    </p>
      <br><br>
    <p class="texte2"><span class="colorblue">
      Charmée par les bienfaits de la sophrologie et son efficacité très rapide dans ma vie quotidienne, tant d’un point de vue physique que psychique, je pris une décision qui me mène jusqu’à vous qui parcourez ce site aujourd’hui.
      </span>
    </p>
      <br><br>
    <p class="texte2"><span class="darkblue"> 
      Ma décision fût de suivre une formation à l’école « Académie de Sophrologie de Paris ».
      </span>
    </p>
    <p class="texte2"><span class="colorblue">
Enrichie et forte de cette belle expérience humaine, je décidais alors à l’issue de ma formation d’un an et demie, de devenir SOPHROLOGUE PROFESSIONNELLE.
      </span>
    </p>
      </div>
    <div class="example-button-row">
        <a md-raised-button routerLink=".">En savoir plus...</a>
      </div> 
      </div>
  </div>
        </div>
<div class="tarif">   
  <a id="tarif"></a>  
  <h1>Séances et Tarifs<span class="color">.</span></h1>
<div class="card-tarif"> 
      <md-card class="example-card">
        <md-card-header>
          <md-card-title>Séance pour <span class="colorblue">enfants</span></md-card-title>
            <md-card-subtitle>Au cabinet de sophrologie</md-card-subtitle>
             </md-card-header>
             <img md-card-image src="assets/enfant-fade.png">
        <md-card-actions>
    <button md-button>Détails</button>
    <span class="colorblue">45€</span> 
  </md-card-actions>
</md-card>
      <md-card class="example-card">
        <md-card-header>
          <md-card-title>Séance pour <span class="colorblue">adultes</span></md-card-title>
            <md-card-subtitle>Au cabinet de sophrologie</md-card-subtitle>
             </md-card-header>
             <img md-card-image src="assets/famille-fade.png">
        <md-card-actions>
    <button md-button>Détails</button>
    <span class="colorblue">55€</span> 
  </md-card-actions>
</md-card>
      <md-card class="example-card" >
        <md-card-header>
          <md-card-title>Séance pour <span class="colorblue">enfants</span></md-card-title>
            <md-card-subtitle>A domicile</md-card-subtitle>
             </md-card-header>
             <img md-card-image src="assets/col-fade.png">
        <md-card-actions>
    <button md-button>Détails</button>
    <span class="colorblue">50€</span> 
  </md-card-actions>
</md-card>
      <md-card class="example-card">
        <md-card-header>
          <md-card-title>Séance pour <span class="colorblue">adultes</span></md-card-title>
            <md-card-subtitle>A domicile</md-card-subtitle>
             </md-card-header>
             <img md-card-image src="assets/mamy-fade.png">
        <md-card-actions>
    <button md-button>Détails</button>
    <span class="colorblue">60€</span> 
  </md-card-actions>
</md-card>
  </div>
</div>
</div>
<app-footer></app-footer>