<app-header></app-header>
<a id="sophrologie"></a>
<div class="container">
    <h1>La Sophrologie<span class="color">.</span></h1>
    <p class="texte"><span class="colorblue">
      La Sophrologie est une méthode douce qui permet de mettre en harmonie son corps et son esprit afin de retrouver un équilibre personnel, émotionnel et corporel et de vivre cette cohabitation en toute sérénité.
  </span>
    </p>
    <br><br>
    <p class="texte"><span class="darkblue">
      Le mot “Sophrologie est éthymologiquement tiré des mots grecs : “SOS” : Tranquille, serein. “PHREN” : Cerveau, conscience. “LOGOS” : Étude, science, discours.
      </span>
    </p>
    <br><br>
    <p class="texte"><span class="colorblue">
      Elle est une science humaine de la conscience, simple, originale et puissante, qui permet une rencontre avec soi même, dans un cadre rassurant.
      </span>
    </p>
    <br><br>
    <p class="texte"><span class="darkblue"> 
      Par une prise de conscience de vos ressentis physiques et mentaux, elle vous ouvre la porte de la découverte, de la connaissance de vous même.
      </span>
    </p>
    <button> <a routerLink="/coherence" routerLinkActive="active">Crisis Center</a></button>

    <!-- DIPLOMES ET COLABORATION -->
    <div class="first-wrapper">
        <div class="container2">
            <div class="element">
                <div class="first-three"></div>
            </div>
            <div class="element">
                <div class="first-two"></div>
            </div>
            <div class="element">
                <div class="first-one"></div>
            </div>
            <div class="element">
                <div class="first-four"></div>
            </div>
        </div>
    </div>

    <!-- PARCOURS -->
    <a id="parcours"></a>
    <div class="wrapper-parcours">
        <h1>Mon Parcours<span class="color">.</span></h1>
        <div class="containeur">
            <div class="element">
                <div class="photo">
                    <div class="blandine">
                    </div>
                </div>
            </div>
            <div class="element">
                <p class="texte"><span class="colorblue">
      Mon premier rendez vous chez une Sophrologue m’a permis de me retrouver telle que j’étais, de me reconnecter à moi même, dans mon corps et mon esprit.
  </span>
                </p>
                <br><br>
                <p class="texte"><span class="darkblue">
      Je m’étais oubliée, happée par les soucis de la vie quotidienne, les épreuves et par mon rythme de vie intense, où je ne parvenais plus à prendre le temps de « m’écouter ».
      </span>
                </p>
                <br><br>
                <p class="texte"><span class="colorblue">
      Charmée par les bienfaits de la sophrologie et son efficacité très rapide dans ma vie quotidienne, tant d’un point de vue physique que psychique, je pris une décision qui me mène jusqu’à vous qui parcourez ce site aujourd’hui.
      </span>
                </p>
                <br><br>
                <p class="texte"><span class="darkblue"> 
      Ma décision fût de suivre une formation à l’école « Académie de Sophrologie de Paris ».
      </span>
                </p>
                <br><br>
                <p class="texte"><span class="colorblue">
Enrichie et forte de cette belle expérience humaine, je décidais alors à l’issue de ma formation d’un an et demie, de devenir SOPHROLOGUE PROFESSIONNELLE.
      </span>
                </p>
            </div>
        </div>
    </div>

    <a id="coherence"></a>
    <div class="coherence">
        <h1>Cohérence Cardiaque<span class="color">.</span></h1>
        <app-coherence></app-coherence>
    </div>

    <!-- TARIFS & SEANCES -->
    <a id="tarifs"></a>
    <div class="tarifs">
        <h1>Tarifs & Séances<span class="color">.</span></h1>
        <app-card></app-card>
    </div>

    <a id="atelier"></a>
    <div class="atelier">
        <h1>Atelier<span class="color">.</span></h1>
        <h3>Samedi <span class="color">18 </span>novembre</h3>
        <p class="texte"><span class="darkblue">
Vous souhaitez faire une pause dans votre vie quotidienne ?
Je vous propose de rejoindre mon atelier "DECOUVERTE DE LA SOPHROLOGIE" , à partir du 18 novembre 2017, un samedi matin tous les 15 jours , de 10h à 11h30, à ORSAY (91).      </span>
        </p>
        <br><br>
        <p class="texte"><span class="colorblue">
PROGRAMME DE L'ATELIER <br>
(groupe de 10 personnes maximum) :<br><br>
</span>
        </p>
        <p class="texte3"><span class="colorblue">
        - Découvrir les origines de la Sophrologie<br> - Apprendre les techniques de base de cette méthode douce et efficace, par le biais de relaxations statiques et dynamiques<br> - Apprendre à lâcher prise par la détente physique et mentale<br> - Apprendre
        à évacuer vos tensions et à mieux gérer votre stress et votre anxiété au quotidien, prendre du recul par rapport aux situations anxiogènes<br> - Apprendre à mieux respirer (apprentissage de la cohérence cardiaque) afin de mieux vous contrôler<br>        - Etre capable d'utiliser de façon autonome, la Sophrologie, dans votre vie quotidienne , au terme du protocole de séances réalisé.<br>
        </span>
        </p>
        <br>
        <p class="texte"><span class="darkblue">
      Tarif de l'atelier qui comprend 6 séances :
<br><br>
25 euros chaque séance de 1H30, le samedi matin, tous les 15 jours.
Les séances sont payables à chaque fois ou intégralement dés le départ.
La signature d'un engagement est cependant demandée pour l'ensemble des séances de l'atelier, dés le début de la deuxième séance, afin de permettre une bonne organisation de l'ensemble du groupe constitué.
      </span>
        </p>
    </div>

    <app-footer></app-footer>