<app-nav></app-nav>
<header>
    <a id="hero"></a>
    <div class="hero-image">
        <div class="fade">
        </div>
    </div>
</header>

<div class="container">
    <h1>La Sophrologie<span class="color">.</span></h1>
    <p class="texte"><span class="colorblue">
      La Sophrologie est une méthode douce qui permet de mettre en harmonie son corps et son esprit afin de retrouver un équilibre personnel, émotionnel et corporel et de vivre cette cohabitation en toute sérénité.
  </span>
    </p>
    <br><br>
    <p class="texte"><span class="darkblue">
      Le mot “Sophrologie est éthymologiquement tiré des mots grecs : “SOS” : Tranquille, serein. “PHREN” : Cerveau, conscience. “LOGOS” : Étude, science, discours.
      </span>
    </p>
    <br><br>
    <p class="texte"><span class="colorblue">
      Elle est une science humaine de la conscience, simple, originale et puissante, qui permet une rencontre avec soi même, dans un cadre rassurant.
      </span>
    </p>
    <br><br>
    <p class="texte"><span class="darkblue"> 
      Par une prise de conscience de vos ressentis physiques et mentaux, elle vous ouvre la porte de la découverte, de la connaissance de vous même.
      </span>
    </p>
    <br><br>
    <p class="texte"><span class="colorblue">
    Elle vous offre la possibilité de développer et de renforcer vos potentiels et vos capacités présents à l'état latent ou encore inexploités, votre créativité, vos valeurs existentielles et de les faire émerger dans votre vie quotidienne, pour vous permettre de vous réaliser pleinement. 
    </span>
    </p>
    <br><br>
    <p class="texte"><span class="darkblue"> 
    Elle s'adresse à tous, sans distinction d'âge : aux enfants, aux adolescents, aux adultes, aux personnes âgées. Elle peut être pratiquée en groupe ou individuellement. C'est une merveilleuse méthode douce et efficace de développement et d'épanouissement
    personnel, vous permettant de vivre en harmonie avec vos propres valeurs et de retrouver un certain équilivre de vie.
    </span>
    </p>
</div>