<header>
    <div id="navbar" class="my-header" [ngClass]="{'page-scroll-header': isScrolled}">
        <div class="wrapper">
            <div class="logo">
                <a scrollTo href="#hero">
                    <h1>B.Sigwald</h1>
                    <h2>B.S</h2>
                </a>
                <p>Sophrologue Certifée RNCP</p>
            </div>
            <div class="navbar">
                <nav>
                    <ul>

                        <div class="dropdown">
                            <button mat-button [matMenuTriggerFor]="menu">X</button>
                            <mat-menu #menu="matMenu">
                                <a scrollTo href="#sophrologie"><button mat-menu-item>Sophrologie</button></a>
                                <a scrollTo href="#parcours"><button mat-menu-item>Parcours</button></a>
                                <a scrollTo href="#coherence"><button mat-menu-item>Cohérance cardiaque</button></a>
                                <a scrollTo href="#tarif"><button mat-menu-item>Séances & Tarifs</button></a>
                            </mat-menu>
                        </div>

                        <li><a class="underline" scrollTo href="#sophrologie">Sophrologie</a></li>
                        <li><a class="underline" scrollTo href="#parcours">Parcours</a></li>
                        <li><a class="underline" scrollTo href="#coherence">Cohérence Cardiaque</a></li>
                        <li><a class="underline" scrollTo href="#tarif">Séances & tarifs</a></li>

                        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Item 1</button>
                            <button mat-menu-item>Item ok 2</button>
                        </mat-menu>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <a id="hero"></a>
    <div id="hero-image">
        <div class="fade">
            <div class="wrapper">
                <br><br><br><br><br>
                <h2>"Autrement dit"</h2>
                <h4>Pour être mieux.</h4>
            </div>
        </div>
    </div>
</header>