<app-nav></app-nav>

<header>
    <a id="hero"></a>
    <div class="hero-image">
        <div class="fade">
        </div>
    </div>
</header>

<div class="coherence">
    <h1>Coherence Cardiaque<span class="color">.</span></h1>
    <div class="grid">
        <div class="coeur">
        </div>
    </div>

    <p class="texte"><span class="colorblue">
Le rythme cardiaque varie constamment même au repos. Il ralentit ou accélère en permanence, c’est la variabilité cardiaque : Quand on inspire il accélère, quand on expire il ralentit.  </span>
    </p>
    <br><br>
    <p class="texte"><span class="darkblue">
L’importance de la variabilité cardiaque se mesure à son amplitude.
Le coeur bat plus ou moins rapidement selon nos émotions, notre exposition au stress, à l’anxiété, aux évènements extérieurs qui peuvent nous affecter.
La variabilité cardiaque enregistrée , sur la courbe de pouls est chaotique. Cette variabilité est normale.      </span>
    </p>
    <br><br>
    <p class="texte"><span class="colorblue">
Plus l’amplitude est élevée et plus votre état de santé et d’équilibre est important (la courbe devient arrondie et régulière, harmonieuse et douce).
      </span>
    </p>
    <br><br>
    <p class="texte"><span class="darkblue"> 
Toute pratique qui fait du bien et favorise votre bien être, est favorable à votre santé et augmente la variabilité de votre fréquence cardiaque.
      </span>
    </p>
</div>

<div class="coherence">
    <div class="grid">
        <div class="courbe">
        </div>
    </div>
    <p class="texte"><span class="colorblue">
    Le rythme cardiaque varie constamment même au repos. IL ralentit ou accélère en permanence, c’est la variabilité cardiaque : Quand on inspire il accélère, quand on expire il ralentit.</span>
        <br><br>
        <p class="texte"><span class="darkblue"> 
     L’importance de la variabilité cardiaque se mesure
        à son amplitude. Le coeur bat plus ou moins rapidement selon nos émotions, notre exposition au stress, à l’anxiété, aux évènements extérieurs qui peuvent nous affecter. La variabilité cardiaque enregistrée , sur la courbe de pouls est chaotique.
        </span>
            <p class="texte"><span class="colorblue">
        Cette variabilité est normale.<br><br> Plus l’amplitude est élevée et plus votre état de santé et d’équilibre est important (la courbe devient arrondie et régulière, harmonieuse et douce).</span>
            </p>
            <br><br>
            <h1>Utilisation du logiciel heart tracker</h1>

            <p>
                <p class="texte"><span class="darkblue"> 
                En accord avec la personne qui me consulte, j’utilise au cours de mes séances, le logiciel professionnel HEART TRACKER qui permet d’afficher en temps réel la fluctuation de la variabilité cardiaque (ou BIOFEEDBACK) avec et sans exercices respiratoires,
                le niveau de cohérence cardiaque atteint pendant la séance , les temps passés dans les états hors ou en cohérence cardiaque, l’activité des systèmes nerveux sympathiques et parasympathiques. 
                </span>
                </p>
                <br><br>
                <p class="texte"><span class="colorblue">
                Il ne s’agit en aucun cas d’un outil de diagnostic
                mais de démonstration de la variabilité cardiaque . Il permet de pratiquer la cohérence cardiaque au Cabinet, grâce à son capteur de pouls qui sera branché sur votre doigt ou votre oreille. Il vous permettra de visualiser directement sur
                l’ordinateur , en temps réel, votre fréquence cardiaque. C’est un outil destiné à améliorer la santé globale et à réduire les effets du stress sur le corps humain, à condition de réaliser un entraînement régulier. 
            </span>
                </p>
                <br><br>
                <p class="texte"><span class="darkblue">La respiration guidée
                permet d’améliorer les capacités d’autorégulation et d’adaptation de l’organisme. Une fois que vous maîtrisez la méthode qui est très simple, pour pouvez ensuite réaliser des exercices chez vous, sans ce logiciel ou avec des guides respiratoires,
                comme ils en existent de nombreux aujourd’hui , par le biais d’applications diverses
                </span>
                </p>