<div class="coherence">
    <div class="grid">
        <div class="coeur">
        </div>
    </div>

    <p class="texte"><span class="colorblue">
Le rythme cardiaque varie constamment même au repos. Il ralentit ou accélère en permanence, c’est la variabilité cardiaque : Quand on inspire il accélère, quand on expire il ralentit.  </span>
    </p>
    <br><br>
    <p class="texte"><span class="darkblue">
L’importance de la variabilité cardiaque se mesure à son amplitude.
Le coeur bat plus ou moins rapidement selon nos émotions, notre exposition au stress, à l’anxiété, aux évènements extérieurs qui peuvent nous affecter.
La variabilité cardiaque enregistrée , sur la courbe de pouls est chaotique. Cette variabilité est normale.      </span>
    </p>
    <br><br>
    <p class="texte"><span class="colorblue">
Plus l’amplitude est élevée et plus votre état de santé et d’équilibre est important (la courbe devient arrondie et régulière, harmonieuse et douce).
      </span>
    </p>
    <br><br>
    <p class="texte"><span class="darkblue"> 
Toute pratique qui fait du bien et favorise votre bien être, est favorable à votre santé et augmente la variabilité de votre fréquence cardiaque.
      </span>
    </p>
</div>