<app-header></app-header>
<a id="sophrologie"></a>
<div class="container">
    <h1>La Sophrologie<span class="color">.</span></h1>
    <p class="texte"><span class="colorblue">
      La Sophrologie est une méthode douce qui permet de mettre en harmonie son corps et son esprit afin de retrouver un équilibre personnel, émotionnel et corporel et de vivre cette cohabitation en toute sérénité.
  </span>
    </p>
    <br><br>
    <p class="texte"><span class="darkblue">
      Le mot “Sophrologie est éthymologiquement tiré des mots grecs : “SOS” : Tranquille, serein. “PHREN” : Cerveau, conscience. “LOGOS” : Étude, science, discours.
      </span>
    </p>
    <br><br>
    <p class="texte"><span class="colorblue">
      Elle est une science humaine de la conscience, simple, originale et puissante, qui permet une rencontre avec soi même, dans un cadre rassurant.
      </span>
    </p>
    <br><br>
    <p class="texte"><span class="darkblue"> 
      Par une prise de conscience de vos ressentis physiques et mentaux, elle vous ouvre la porte de la découverte, de la connaissance de vous même.
      </span>
    </p>
    <div class="button">
        <button mat-raised-button color="primary"><a routerLink="/sophrologie">En savoir plus</a></button>
    </div>
    <!-- DIPLOMES ET COLABORATION -->
    <div class="first-wrapper">
        <div class="container2">

            <div class="element">
                <a href="https://www.syndicat-sophrologues-professionnels.fr/">
                    <div class="first-three">
                    </div>
                </a>
            </div>
            <div class="element">
                <a href="https://chequesante.com/">
                    <div class="first-two">
                    </div>
                </a>
            </div>

            <div class="element">
                <a href="http://www.rncp.cncp.gouv.fr/">
                    <div class="first-one"></div>
                </a>
            </div>
            <div class="element">
                <a href="http://academie-sophrologie.fr/">
                    <div class="first-four"></div>
                </a>
            </div>
        </div>
    </div>

    <!-- COHERENCE CARDIAQUE -->

    <a id="coherence"></a>
    <div class="coherence">
        <h1>Cohérence Cardiaque<span class="color">.</span></h1>
        <div class="coherence">

            <p class="texte"><span class="colorblue">
      Le rythme cardiaque varie constamment même au repos. Il ralentit ou accélère en permanence, c’est la variabilité cardiaque : Quand on inspire il accélère, quand on expire il ralentit.  </span>
            </p>
            <br><br>
            <p class="texte"><span class="darkblue">
      L’importance de la variabilité cardiaque se mesure à son amplitude.
      Le coeur bat plus ou moins rapidement selon nos émotions, notre exposition au stress, à l’anxiété, aux évènements extérieurs qui peuvent nous affecter.
      La variabilité cardiaque enregistrée , sur la courbe de pouls est chaotique. Cette variabilité est normale.      </span>
            </p>
            <br><br>
            <p class="texte"><span class="colorblue">
      Plus l’amplitude est élevée et plus votre état de santé et d’équilibre est important (la courbe devient arrondie et régulière, harmonieuse et douce).
            </span>
            </p>
            <br><br>
            <p class="texte"><span class="darkblue"> 
      Toute pratique qui fait du bien et favorise votre bien être, est favorable à votre santé et augmente la variabilité de votre fréquence cardiaque.
            </span>
            </p>
            <div class="button">
                <button mat-raised-button color="primary"><a routerLink="/coherence">En savoir plus</a></button>
            </div>
        </div>

        <div class="image">

        </div>


        <!-- PARCOURS -->
        <a id="parcours"></a>
        <div class="wrapper-parcours">
            <br><br>
            <h1>Mon Parcours<span class="color">.</span></h1>
            <div class="containeur">
                <div class="element">
                    <div class="photo">
                        <div class="blandine">
                        </div>
                    </div>
                </div>
                <div class="element">
                    <p class="texte"><span class="colorblue">
      Mon premier rendez vous chez une Sophrologue m’a permis de me retrouver telle que j’étais, de me reconnecter à moi même, dans mon corps et mon esprit.
  </span>
                    </p>
                    <br><br>
                    <p class="texte"><span class="darkblue">
      Je m’étais oubliée, happée par les soucis de la vie quotidienne, les épreuves et par mon rythme de vie intense, où je ne parvenais plus à prendre le temps de « m’écouter ».
      </span>
                    </p>
                    <br><br>
                    <p class="texte"><span class="colorblue">
      Charmée par les bienfaits de la sophrologie et son efficacité très rapide dans ma vie quotidienne, tant d’un point de vue physique que psychique, je pris une décision qui me mène jusqu’à vous qui parcourez ce site aujourd’hui.
      </span>
                    </p>
                    <br><br>
                    <p class="texte"><span class="darkblue"> 
      Ma décision fût de suivre une formation à l’école « Académie de Sophrologie de Paris ».
      </span>
                        <br>
                    </p>
                    <div class="button">
                        <button mat-raised-button color="primary"><a routerLink="/parcours">En savoir plus</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- TARIFS & SEANCES -->
        <a id="tarifs"></a>
        <div class="tarifs">
            <h1>Tarifs & Séances<span class="color">.</span></h1>
            <app-card></app-card>
            <p class="texte"><span class="darkblue">
            (Durée : environ une heure) Une séance de sophrologie se déroule en trois temps : Elle débute par un dialogue entre le sophrologue et la personne qui le consulte, afin de déterminer ses besoins et ses attentes et de discuter de ses problématiques. 
        </span>
                <br><br>
                <p class="texte"><span class="colorblue">    
            C’est aussi un moment d’échange sur les avancées depuis la séance précédente. Le sophrologue explique le déroulement de la séance du jour (ses objectifs, bénéfices et son protocole). Puis vient la pratique qui commence par une relaxation musculaire
            qui est suivie par des exercices simples et doux pour apprendre à rester à l’écoute de son corps (aucune tenue particulière n’est exigée) et de son esprit par des techniques de visualisation statiques ou dynamiques. </span>
                    <br><br>
                    <p class="texte"><span class="darkblue">   
            Le sophrologue
                ne touche pas son patient, il reste simplement un guide avec sa voix tout le long de la séance, dans une ambiance calme et apaisante. La dernière partie de la séance est un dialogue post sophronique : un moment ou le pratiquant s’exprime
                librement sur le vécu de l’exercice (ressentis, sensations, objets de visualisation…). Cela peut être sous forme de dialogue oral, de dessins, ou sous forme d’un écrit, au choix de la personne.
                </span>
                    </p>
                    <br><br><br><br>
        </div>