@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
.colorblue {
    color: #7e4d81;
}

.darkblue {
    color: #1f4481;
}

.texte {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: -10px;
}

h2 {
    font-weight: 300;
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
}

.hero-image {
    width: 100%;
    height: 50vh;
    position: relative;
    padding-top: 1px;
    background: url('/assets/flowers2.jpg') no-repeat center;
    background-size: cover;
    background-position: center;
}

.fade {
    position: relative;
    width: 100%;
    height: 50vh;
    background: url('/assets/fade.png');
    background-size: cover;
    background-position: center;
}

.hero-image h2 {
    font-family: 'Dancing Script', cursive;
    margin-top: 100px;
}

.blandine {
    width: 250px;
    height: 250px;
    background: url('/assets/blandine-circle.png')no-repeat;
    background-size: contain;
    margin-top: 50px;
}

.containeur {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}