<app-nav></app-nav>

<header>
    <a id="hero"></a>
    <div class="hero-image">
        <div class="fade">
        </div>
    </div>
</header>

<div class="wrapper-parcours">
    <div class="containeur">
        <div class="element">
            <div class="photo">
                <div class="blandine">
                </div>
            </div>
        </div>
        <div class="element">
            <p class="texte"><span class="colorblue">
  Mon premier rendez vous chez une Sophrologue m’a permis de me retrouver telle que j’étais, de me reconnecter à moi même, dans mon corps et mon esprit.
</span>
            </p>
            <br><br>
            <p class="texte"><span class="darkblue">
  Je m’étais oubliée, happée par les soucis de la vie quotidienne, les épreuves et par mon rythme de vie intense, où je ne parvenais plus à prendre le temps de « m’écouter ».
  </span>
            </p>
            <br><br>
            <p class="texte"><span class="colorblue">
  Charmée par les bienfaits de la sophrologie et son efficacité très rapide dans ma vie quotidienne, tant d’un point de vue physique que psychique, je pris une décision qui me mène jusqu’à vous qui parcourez ce site aujourd’hui.
  </span>
            </p>
            <br><br>
            <p class="texte"><span class="darkblue"> 
  Ma décision fût de suivre une formation à l’école « Académie de Sophrologie de Paris ».
  </span>
            </p>
            <br><br>
            <p class="texte"><span class="colorblue">
Enrichie et forte de cette belle expérience humaine, je décidais alors à l’issue de ma formation d’un an et demie, de devenir SOPHROLOGUE PROFESSIONNELLE.
  </span>
            </p>
            <p class="texte"><span class="colorblue">
Elle vous offre la possibilité de développer et de renforcer vos potentiels et vos capacités présents à l'état latent ou encore inexploités, votre créativité, vos valeurs existentielles et de les faire émerger dans votre vie quotidienne, pour vous permettre de vous réaliser pleinement.   </span>
            </p>
            <br><br>
            <p class="texte"><span class="darkblue">
Elle s'adresse à tous, sans distinction d'âge : aux enfants, aux adolescents, aux adultes, aux personnes âgées. Elle peut être pratiquée en groupe ou individuellement.       </span>
            </p>
            <br><br>
            <p class="texte"><span class="colorblue">
C'est une merveilleuse méthode douce et efficace de développement et d'épanouissement personnel, vous permettant de vivre en harmonie avec vos propres valeurs et de retrouver un certain équilivre de vie.
  </span>
                <br>
                <br>
                <br>
                <br>
            </p>
        </div>
    </div>
</div>