<app-nav></app-nav>

<header>
    <a id="hero"></a>
    <div class="hero-image">
        <div class="fade">
        </div>
    </div>
</header>

<div class="applications">
    <h1>Applications<span class="color">.</span></h1>
    <p class="texte"><span class="darkblue">
    Retrouver un état de bien être physique et émotionnel.</span>
    </p>
    <br>
    <p class="texte"><span class="colorblue">
    Retrouver de l'apaisement face au deuil d'un de vos proches. </span>
    </p>
    <br>
    <p class="texte"><span class="darkblue">
    Burn-out au travail ou à la maison.  </span>
    </p>
    <br>
    <p class="texte"><span class="colorblue">
    Retrouver un someil réparateur et mieux organiser vos journées. 
    <br>
     <p class="texte"><span class="darkblue">
    Burn-out au travail ou à la maison.  </span>
    </p>
    <br> Préparer un examen : un concours, un diplôme, un entretien d'embauche, un rendez-vous important...
    </span>
    </p>
    <br>
    <p class="texte"><span class="colorblue">
    Faire face à une situation anxiogène face à un public, gérer son trac </span>
    </p>
    <br>
    <p class="texte"><span class="darkblue">
    Permettre à un sportif d'être plus performant et moins anxieux à l'approche des épreuves.  </span>
    </p>
    <br>
    <p class="texte"><span class="colorblue">
    Accompagner une femme avant et après son accouchement.  </span>
    </p>
    <br>
    <p class="texte"><span class="darkblue">
    Se détendre avant une intervention chirurgicale. </span>
    </p>
    <br>
    <p class="texte"><span class="colorblue">
    Donner à un enfant les moyens de se concentrer, d'être plus attentif à l'école ou à la maison, de mieux gérer ses émotions, ses colères, son endormissement le soir, améliorer sa mémoire, mieux gérer son hyperactivité. </span>
    </p>
    <br>

    <p class="texte"><span class="darkblue">
            Diminuer votre anxiété, votre stress dans votre vie quotidienne, au travail ou à la maison, retrouver votre calme et mieux gérer vos émotions. 
    </span></p>
    <p class="texte"><span class="colorblue">
       Être accompagné lors d'une procédure F.I.V. </span>
        <br>
        <br>
        <br>
    </p>
</div>